* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  background-image: url("../../Images/back.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headers {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  color: plum;
  position: relative;
  padding-top: 55px;
}

header {
  padding-top: 20px;
}

nav {
  background-color: transparent;
  width: 190vh;
  height: 80px;
  margin-left: 10px;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: plum;
  font-family: "Raleway", sans-serif;
  margin-top: -50px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  display: inline-flex;
  padding-left: 50px;
  align-items: center;
  justify-content: center;
}

.logo {
  font-weight: 900;
  font-size: 1.8rem;
  color: plum;
  font-family: "Raleway", sans-serif;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0.5%;
  width: 7.5%;
  height: 28%;
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1;
  background-color: transparent;
}
.sticky a {
  color: black;
}
.sticky ul {
  display: inline;
  align-items: normal;
  justify-content: left;
}
.sticky ul > :first-child {
  margin-left: -15px;
}
.sticky ul li {
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.page {
  height: 100vh;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 200px;
  color: black;
  text-align: center;
  width: 800px;
  padding-top: 40px;
  margin-left: 350px;
}

.col-md-3 {
  margin-left: 180px;
  grid-column-start: 1;
}

.service {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.languages {
  color: plum;
  font-weight: 800;
  font-size: 15px;
  word-spacing: 12px;
}

#btn {
  border-radius: 20px;
  width: 350px;
  height: 50px;
  background: plum;
  margin-left: 600px;
  border: none;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

#about-text {
  width: 700px;
  height: 300px;
  margin-left: 160px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px plum;
  font-family: "Raleway", sans-serif;
}

#me {
  width: 200px;
  height: 100px;
  display: block;
  margin-left: 900px;
  margin-right: auto;
  margin-top: -250px;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  box-shadow: 5px 5px plum;
}

#contact-btn {
  margin-top: 40px;
  margin-left: 600px;
  border-radius: 20px;
  width: 350px;
  height: 50px;
  background: plum;
  border: none;
  font-family: "Raleway", sans-serif;
}

footer {
  background: #200711;
  padding: 5vh 0;
  text-align: center;
}
footer span {
  margin-left: 20px;
}

small {
  opacity: 0.5;
  font-weight: 300;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#gallery * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.images {
  width: 100%;
  display: flex;
}
.images img {
  width: 800px;
  height: 100%;
  transition: all 0.15 ease;
}
.images input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.15s ease;
}

.dots label:hover {
  background-color: blue;
}

#radio1:checked ~ .m1 {
  margin-left: 0px;
}

#radio2:checked ~ .m2 {
  margin-left: -105%;
}/*# sourceMappingURL=home.css.map */