* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.parallax {
    /* The image used */
    background-image: url("../../Images/back.jpg");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header h1{
  font-family: 'Geologica' , sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  position: relative;
  padding-top: 30px;
}

nav {
  background-color: transparent;
  border: 1px solid black;
  width: 190vh;
  height: 80px;
  margin-left: 20px;
  padding: 10px;

  a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center
  }

  ul li{
    display:inline-flex;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    
  }
}
.logo {
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  font-family: "Raleway", sans-serif;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.page{
  height: 100vh;
  background-color: #e27daf;
}

.intro-text{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200px;
  color: #ffd6ee;
  text-align: center;
  width: 800px;
  padding-top: 20px;
  margin-left: 350px;
}

footer {
  background: #200711;
  padding: 5vh 0;
  text-align: center;
  span {
    margin-left: 20px;
  }
}
small {
  opacity: 0.5;
  font-weight: 300;
}

#gallery {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.images {
  width: 100%;
  display: flex;
  img {
    width: 800px;
    height: 100%;
    transition: all 0.15 ease;
  }
  input {
    display: none;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
  label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.15s ease;
  }
}
.dots label:hover {
  background-color: blue;
}

#radio1:checked ~ .m1 {
  margin-left: 0px;
}
#radio2:checked ~ .m2 {
  margin-left: -100%;
}
